* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
:root {
  font-size: clamp(40%, 2vw + 1%, 62.5%);

  --Platform-Aliases-Texto-base: #C4C4CC;
  --Neutral-Colors-White: #FFF;
  --Platform-Aliases-Ttulos: #E1E1E6;
  --blue: #02799D;


  font-family: 'Roboto', sans-serif;

}

.home {
  --bg-img: url(./assets/bg-home.png);

}

.universe {
  --bg-img: url(./assets/bg-universe.png);

}

.exploration {
  --bg-img: url(./assets/bg-exploration.png);
}

body {
  background: var(--bg-img) no-repeat top center/cover;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  color: var(--Platform-Aliases-Ttulos);
}

#container {
  margin: 0 7.2rem;
}

nav {
  display: flex;
  gap: 4.3rem;
  align-items: center;
  padding-top: 4rem;
}


nav ul {
  display: flex;
  gap: 3.2rem;
} 
  
ul li {
  display: flex;
  font-size: 2.1rem;
}

ul li a {
  text-decoration: none;
  color: var(--Platform-Aliases-Texto-base);
}
  
h1 {
  font-size: 4.8rem;
}

p {
  font-size: 1.8rem;
}

button {
  font-family: 'Roboto', sans-serif;
  color: var(--Neutral-Colors-White);
  padding: 1.2rem 3.2rem;
  border-radius: .5rem;
  border: 2px solid #FFF;
  background: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  transition: .3s;

  cursor: pointer;
}

button:hover{
  background: var(--Neutral-Colors-White);
  color: var(--blue);
}

#app {
  gap: 2.4rem;
}

main {
  margin: auto;
  text-align: center;
  margin-top: clamp(5rem, 100vh - 30%,17.2rem);
}
main button {
  margin-top: 2.4rem;
}


